@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f2ef;
  --foreground: #424242;
  --saju-card-bg: #f5f3ec;
  --saju-card-border: #1b2f49;
  --pri-navy: #2b557e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
